#main-container {
    height: 100vh;
    width: auto;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-username {

}

.input-container {
    display: flex;
    flex-direction: column;
}